# masscan.rc
# Author: lfr_008@sina.com

<ruby>
ports = [8080]
target_file = File.join(Msf::Config.install_root, 'data/ip/cn_ip')

run_single("load db_masscan")

ip_list = []
File.open(target_file).each_line do |ip|
  ip = ip.chomp
  ip_list << ip
  if ip_list.size >= 3
    target = ip_list.join(' ')
    print_line("start db_masscan for #{target}")
    command = "db_masscan -p#{ports.join(',')} #{target} --nmap-version --rate 10000"
    run_single(command)
    ip_list = []
  end
end

</ruby>
